---
import '../styles/global.css' 
import NavBar from '../components/navbar.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<NavBar />
		<div>
			<slot />
		</div>
	</body>
</html>

<style>
	@reference "tailwindcss";

	:root {
		font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	}

	body {
		@apply grid place-content-center pt-30;
		@apply font-sans;
		@apply bg-[#f2f2f2];
	}

	body > div {
		@apply container;
	}
</style>
